body {
  font-family: "Montserrat"
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat'
}

/* title */

#title {
  background-color: #FF4c68;
  color: white;
  text-align: left;
}
.title-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;

}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

p {
  color: #8f8f8f;

}
.container-fluid {
  padding: 3% 15% 10%;

}
/* Navigation bar */
.navbar {
  padding : 0  0  4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu" ;
  font-size: 2.5rem ;
  font-weight: bold;

}
.nav-item {
  padding : 0 18px ;
}
.nav-link {
  font-size : 1.2rem;
  font-family: "Montserrat-light"
}
/* download buttton */
.bd {
  margin: 5% 3% 5% 0;
}
/* title image */


/* features */
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
  }
  .icon:hover{
    color: #ff4c68;
  }

  #features {
    padding:7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;

  }
  .feature-heading{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
  }
  .feature-box {
    text-align: center;
    padding: 4.5%;
  }
  /* testimonials */
  #testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #ffff;
  }
  .carousel-item{
    padding:7% 15%;
  }
  .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  .carousel-heading{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
  }
  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  .press-logo{
    width: 15%;
    margin: 20px 20px 50px;
  }

  /* pricing */

  #pricing{
    padding:100px;
    text-align: center;
  }
  .pricing-col{
    padding: 3% 2%;
  }
.pricing-heading{
  font-size: 1.5rem;
  font-family: "Montserrat";

}
.prizing-heading{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat";
}

  /* cta */
  #cta{
    text-align: center;
    color:white;
    background-color: #ff4c68;
    padding:5% 17%;
  }

.bottom-text{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: bold;
}

/* footer */
#footer {
  text-align : center;
  padding: 7% 17%;
  background-color: #ffff;
}
.social-icon {
  margin:20px 10px;
}

/* media */
@media (max-width:1045px) {
  .title-image{
  position: static;
  transform: rotate(0);

}
}
